@font-face {
  font-family: "EsternNotation";
  src: url(./../../fonts/Estern\ Notation.ttf);
}

.result {
  font-family: "EsternNotation";
  font-size: 30px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  /* background: balck; */
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 25px;
  border: 0px solid goldenrod ;
  transition: background-color 3s ease;
}
*::-webkit-scrollbar-thumb:hover {
    /* -webkit-box-shadow: black; */
    background-color: rgba(255, 255, 255, 0.74);
}